body {
  padding-top: 56px;
}

.album {
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.album .container {
  max-width: 960px;
}

.album .row > div {
  margin-bottom: 20px;
}

.text-muted {
  color: #6c757d !important;
}

.float-end {
  float: right !important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
