{% extends 'base.html' %}

{% block title %}Свежий Магазин{% endblock %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Свежий Магазин</h1>
            <p class="lead text-muted">Добро пожаловать в наш магазин! Мы предлагаем только самые свежие продукты.</p>
            <a href="{% url 'product_create' %}">Создать продукт</a>
<!--            <h2>Раздел Блог</h2>-->
<!--            <a href="{% url 'blog_create' %}">Создать блок</a>-->
<!--            <a href="/blog/">Показать список постов</a>-->
        </div>
    </div>
</section>

{% include 'catalog/product_list.html' %}
{% endblock %}
