{% extends 'base.html' %}
{% load media_tags %}

{% block title %}{{ object.name }} - Свежий Магазин{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" src="{{ product.image|mymedia }}" alt="{{ product.name }}">
        </div>
        <div class="col-md-6">
            <h1 class="display-5">{{ product.name }}</h1>
            <p class="lead">{{ product.description }}</p>
            <p class="lead">{{ product.price }} руб.</p>
            <p class="lead">{{ product.category }}</p>
            <p class="lead">{{ product.created_at }}</p>
            <p class="lead">{{ product.update_at}}</p>
            <p class="lead">Status: {{ product.get_status_display }}</p>
            {% if current_version %}
            <p class="card-text"><strong>Актуальная карточка товара</strong> {{ current_version.version_name }} ({{ current_version.version_number }})</p>
            {% else %}
            <p class="card-text"><strong>Не актуальная карточка товара</strong></p>
            {% endif %}
            <a href="{% url 'home' %}" class="btn btn-lg btn-outline-secondary">Назад к списку</a>
            {% if perms.catalog.can_change_any_product_description %}
                <a href="{% url 'product_update' product.pk %}" class="btn btn-lg btn-primary">Редактировать</a>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}